<!DOCTYPE html>
<html>
<head>
<title>Playcraft Engine</title>
<meta name="viewport" content="user-scalable=no, width=device-width"/>

<!-- Externals -->
<link rel="stylesheet" type="text/css" href="javascripts/playcraft/editor/extjs/resources/css/ext-all-gray.css"/>
<script type="text/javascript" src="javascripts/playcraft/editor/extjs/bootstrap.js"></script>
<!---->
<!--<script type="text/javascript" src="javascripts/jquery-ui-1.8.16.custom/js/jquery-1.6.2.min.js"></script>-->
<!--<script type="text/javascript" src="javascripts/jquery-ui-1.8.16.custom/js/jquery-ui-1.8.16.custom.min.js"></script>-->
<!--<script type="text/javascript" src="javascripts/jquery.layout-1.3.0.js"></script>-->
<!--<link rel="stylesheet" href="javascripts/jquery-ui-1.8.16.custom/css/custom-theme/jquery-ui-1.8.16.custom.css"-->
<!--type="text/css" media="all"/>-->

<style type="text/css">
    html, body {
        background-color: #000000;
        color: #ffffff;
        font-family: helvetica, arial, sans-serif;
        margin: 0;
        padding: 0;
        font-size: 10pt;
    }

    p {
        font-size: 1em;
        margin: 1em 0;
    }

    #gameCanvas {
        /*top: 0;*/
        /*bottom: 0;*/
        /*left: 0;*/
        /*right: 0;*/
        /*position: absolute;*/
    }

    .icon_reset {
        background-image: url('javascripts/playcraft/editor/images/refresh.gif') !important
    }

    .icon_pause {
        background-image: url('javascripts/playcraft/editor/images/pause.gif') !important
    }

    .icon_resume {
        background-image: url('javascripts/playcraft/editor/images/resume.gif') !important
    }
</style>

<script>


    Ext.require(['*']);

    Ext.onReady(function()
    {
        Ext.QuickTips.init();

        // Simple state management. During development,
        // it is generally best to disable state management as dynamically-generated ids
        // can change across page loads, leading to unpredictable results.  The developer
        // should ensure that stable state ids are set for stateful components in real apps.
        Ext.state.Manager.setProvider(Ext.create('Ext.state.CookieProvider'));

        var viewport = Ext.create('Ext.Viewport', {
            id: 'playcraft-editor',
            layout: 'border',
            items: [
                // create instance immediately
                Ext.create('Ext.Component', {
                    region: 'north',
                    height: 44,
                    contentEl: 'north'
                }),
                {
                    xtype: 'tabpanel',
                    region: 'east',
                    title: 'Controls',
                    dockedItems: [
                        {
                            dock: 'top',
                            xtype: 'toolbar',
                            items: [ '->',
                                {
                                    xtype: 'button', id: 'reset', text: 'Reset', iconCls: 'icon_reset', tooltip: 'Restart game',
                                    listeners :
                                    {
                                        click: function(button, event)
                                        {
                                            theGame.reset();
                                        }
                                    }
                                },
                                {
                                    xtype: 'button', id: 'pause', text: '', enableToggle: 'true', iconCls:'icon_pause', tooltip: 'Pause/resume game',
                                    listeners :
                                    {
                                        click: function(button, event)
                                        {
                                            theGame.togglePauseResume();

                                            if (theGame.paused)
                                                button.setIconCls('icon_resume');
                                            else
                                                button.setIconCls('icon_pause');
                                        }
                                    }
                                }
                            ]
                        }
                    ],
                    animCollapse: true,
                    collapsible: true,
                    split: true,
                    width: 225, // give east and west regions a width
                    minSize: 175,
                    maxSize: 400,
                    margins: '0 5 0 0',
                    activeTab: 1,
                    tabPosition: 'bottom',
                    items: [
                        {
                            html: '<p>A TabPanel component can be a region.</p>',
                            title: 'A Tab',
                            autoScroll: true
                        },
                        Ext.create('Ext.grid.PropertyGrid', {
                            title: 'Property Grid',
                            closable: true,
                            source: {
                                "Entity": "PlayerShip",
                                "Pos": "106,210",
                                "Active": true
                            }
                        })
                    ]
                }, {
                    region: 'west',
                    stateId: 'navigation-panel',
                    id: 'west-panel', // see Ext.getCmp() below
                    title: 'Content',
                    split: true,
                    width: 200,
                    minWidth: 175,
                    maxWidth: 400,
                    collapsible: true,
                    animCollapse: true,
                    margins: '0 0 0 5',
                    layout: 'accordion',
                    items: [
                        {
                            contentEl: 'west',
                            title: 'Hierarchy',
                            iconCls: 'nav' // see the HEAD section for style used
                        },
                        {
                            title: 'Debug/Profile',
                            html: '<p></p>',
                            iconCls: 'settings'
                        }
                    ]
                },
                // in this instance the TabPanel is not wrapped by another panel
                // since no title is needed, this Panel is added directly
                // as a Container
                {
                    region: 'center',
                    layout: 'border',
                    items: [
                        Ext.create('Ext.tab.Panel', {
                            region: 'center', // a center region is ALWAYS required for border layout
                            deferredRender: false,
                            activeTab: 0,     // first tab initially active
                            items: [
                                {
                                    contentEl: 'center1',
                                    title: 'Game',
                                    closable: true,
                                    autoScroll: true,
                                    listeners: {
                                        resize: {
                                            fn: function(el)
                                            {
                                                if (el.body.dom.clientWidth)
                                                    pc.system.resize(el.body.dom.clientWidth, el.body.dom.clientHeight);
                                            }
                                        }
                                    },

                                },
                                {
                                    contentEl: 'center2',
                                    title: 'Map - test1',
                                    autoScroll: true
                                }
                            ]
                        }),
                        {
                            region: 'south',
                            contentEl: 'stats',
                            split: true,
                            layout: 'fit',
                            listeners: {
                                resize: {
                                    fn: function(el)
                                    {
                                        if (el.body.dom.clientWidth)
                                            pc.system.debugPanel.resize(el.body.dom.clientWidth, el.body.dom.clientHeight);
                                    }
                                }
                            },
                            height: 200,
                            minSize: 100,
                            maxSize: 200,
                            collapsible: true,
                            collapsed: false,
                            title: 'Debug',
                            margins: '0 0 0 0'
                        }

                    ]
                }
            ]
        });

        pc.system.debugPanel.attach('debug');
//        var el = Ext.get('stats');
//        pc.system.debugPanel.resize(el.dom.clientWidth, el.dom.clientHeight);


    }); // document.onReady


</script>

<!-- Playcraft Engine Core -->
<!--<script type="text/javascript" src="javascripts/playcraft/lib/ext/base_deanedwards.js"></script>-->
<script type="text/javascript" src="javascripts/playcraft/lib/ext/jquery171.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/ext/class.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/ext/jhashtable.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/playcraft.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/linkedlist.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/pooled.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/pool.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/debug.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/system.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/layer.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/entity.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/collision.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/spritesheet.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/sprite.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/tools.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/math.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/image.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/scene.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/game.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/isotools.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/editor.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/input.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/particle.js"></script>
<script type="text/javascript" src="javascripts/playcraft/lib/loader.js"></script>
<!--<script type="text/javascript" src='javascripts/playcraft/lib/webgl-2d/webgl-2d.js'></script>-->
<script type="text/javascript" src="javascripts/initSpace.js"></script>
</head>

<body>
<div id="north" class="x-hide-display" style='width:100%; height: 90%; background-color: #000'><img src='images/playcraftenginelogo.png' width='180'
                                                                      style='padding-top: 7px; padding-bottom: 10px; padding-left: 10px'>
</div>
<div id="west" class="x-hide-display">
    <p>Entity</p>
</div>
<div id="center1" class="x-hide-display" style='background-color: #000;  height: 100%; width:100%'>
    <!--Game panel-->
    <canvas id="gameCanvas"></canvas>
</div>
<div id="center2" class="x-hide-display">
</div>
<div id="props-panel" class="x-hide-display" style="width:200px;height:200px;overflow:hidden;">
</div>
<div id="stats" class="x-hide-display" style='background-color:#fff; height: 100%; width:100%'>
    <canvas id="debug"></canvas>

</div>

</body>
</html>

