    <!DOCTYPE html>
<html>
<head>
<title>Playcraft Engine</title>
<meta name="viewport" content="user-scalable=0; initial-scale=1; maximum-scale=1; width=device-width;"/>

<!-- Playcraft Engine Core -->
    <script type="text/javascript" src="javascripts/playcraft/lib/ext/jquery171.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/ext/class.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/ext/jhashtable.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/playcraft.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/pooled.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/pool.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/linkedlist.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/debug.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/system.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/layer.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/entity.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/particle.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/collision.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/spritesheet.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/sprite.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/tools.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/math.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/image.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/scene.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/game.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/isotools.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/editor.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/input.js"></script>
    <script type="text/javascript" src="javascripts/playcraft/lib/loader.js"></script>
    <script type="text/javascript" src='javascripts/playcraft/lib/webgl-2d/webgl-2d.js'></script>
    <script type="text/javascript" src="javascripts/initSpace.js"></script>

    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){  }
    </script>
</head>

<body onresize='pc.system.resize();' style='position: absolute; padding:0; margin:0; height: 100%; width:100%'>

<div id="center1" style='background-color: #000; height: 80%; width:100%'>
    <!--Game panel-->
    <canvas id="gameCanvas"></canvas>
</div>
<div id="stats" style='background-color:#fff; height: 20%; width:100%'>
    <canvas id="debug"></canvas>
</div>

</body>
</html>

